{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 p-3 mx-auto" style="margin-bottom:100px;">

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Name</label>
              <input type="text" class="form-control" name="n" placeholder="Enter product name">
            </div>


        <div class="mb-3">
  <label for="formFileSm" class="form-label">Image</label>
  <input class="form-control form-control-sm" id="formFileSm" type="file">
</div>


    <div class="mb-3">
    <label class="form-label">Description</label>
        <textarea class="form-control" name="d" placeholder="Write category description"></textarea>
    </div>


        <div class="mb-3">
            <label class="form-label">Stock</label>
              <input type="text" class="form-control" name="s" placeholder="Enter stock">
            </div>

        <div class="mb-3">
            <label class="form-label">Price</label>
              <input type="text" class="form-control" name="p" placeholder="Enter price">
            </div>

        <div class="mb-3">
            <label class="form-label">Category</label>
            <select name="c">
                {% for i in links %}
                <option value="{{i.name}}">{{i.name}}</option>
                {% endfor %}
            </select>

            </div>

        <div class="mb-3">
            <button type="submit" value="submit" class="form-control btn btn-outline-success">Submit</button>
        </div>
</form>
    </div>
{% endblock %}
